<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CaptureScreen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5C8E97E11DC1F0AA000932A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C8E97FA1DC1F0AB000932A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C8E98051DC1F0AB000932A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
